<div id="graph" style="width: 400px; height: 200px;">
	<title>Highcharts Example</title>
	<script>
		var data;
		$(function() {
			$.ajax({
				url: "/dataset",
				success: function(response) {
					console.log(response);
					dataset = response;
				}
			});
		});
		$(function (dataset) {
			var prices = dataset['series_1'].map(function(obj){return obj['price'];});
		    $('#graph').highcharts({
		        chart: {
		            type: 'bar'
		        },
		        title: {
		            text: 'Fruit Consumption'
		        },
		        xAxis: {
		            categories: ['Apples', 'Bananas', 'Oranges']
		        },
		        yAxis: {
		            title: {
		                text: 'Fruit eaten'
		            }
		        },
		        series: [
			        {
			            name: 'Jane',
			            data: prices
			        }, 
			        {
			            name: 'John',
			            data: [5, 7, 3]
			        }
			    ]
		    });
		});
	</script>
</div>