<div id="graph" style="width: 400px; height: 200px;">
	<title>Highcharts Example</title>
	<script>
		var graphData;
		var prices;
		var dates;

		$(function() {
			$.ajax({
				url: "/dataset",
				success: function(dataset) {
					console.log(dataset);
					s1Data = [mapRecordToKey(dataset['series_1'], 'price', true),
							  mapRecordToKey(dataset['series_1'], 'start_time', false)]
					s2Data = [mapRecordToKey(dataset['series_2'], 'price', true),
							  mapRecordToKey(dataset['series_2'], 'start_time', false)]
					graph([s1Data, s2Data]);
				}
			});
		});

		function graph(seriesData) {
			console.log(seriesData);
			dates_arr = seriesData[0][1].map(function(str) {
				return str.split('-').map(function(s) {
					return parseInt(s)
				})
			});
			dates = dates_arr.map(function(arr) {new Date(Date.UTC(arr[2], arr[1], arr[0]))})
			console.log(dates);
		    $('#graph').highcharts({
		        chart: {
		            type: 'line'
		        },
		        title: {
		            text: 'Corn Prices Over Time'
		        },
		        xAxis: {
		            dateTimeLabelFormats: { // don't display the dummy year
		                month: '%b',
		                year: '%b'
		            },
		            title: {
		                text: 'Date'
		            },
		        	reversed: true,
		            categories: dates,
		            tickInterval: 30
		        },
		        yAxis: {
		            title: {
		                text: 'Prices'
		            },
		            tickInterval: 1
		        },
		        series: [
			        {
			            name: 'Corn',
			            data: seriesData[0][0]
			        }, 
			        {
			            name: 'Organic Corn',
			            data: seriesData[1][0]
			        }
			    ]
		    });
		}

		//-- HELPER FUNCTIONS ------------------------------------->>>
		function range(a, b) {
			if (a < b && (a%1===0) && (b%1===0)) {
				arr = new Array(b-a)
				for (var i=a; i<arr.length; i++) {
					arr[i] = i
				}
				return arr
			}
		}
		function mapRecordToKey(record, key, needInt) {
			if (needInt==true) {
				return record.map(function(obj){return parseInt(obj[key])})
			} else {
				return record.map(function(obj){return obj[key]})
			}
		}
		function dateDiff(d1, d2) {
			var timeDiff = Math.abs(date2.getTime() - date1.getTime());
			return Math.ceil(timeDiff / (1000 * 3600 * 24)); 
		}
	</script>
</div>